@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Heinemann";
    font-weight: normal;
    src: url("./assets/HeinemannHVN-Regular.ttf");
    src: url("./assets/HeinemannHVN-Regular.ttf") format("ttf");
  }
  @font-face {
    font-family: "Heinemann";
    font-weight: 900;
    src: url("./assets/HeinemannHVN-Black.ttf");
    src: url("./assets/HeinemannHVN-Black.ttf") format("ttf");
  }
  html {
    font-family: "Roboto", system-ui, sans-serif;
  }
}

a {
  @apply text-havenBlue;
  text-decoration: none;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  margin-inline: auto;
}
